# Neon Database Connection
DATABASE_URL=

# Upstash Redis Connection
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Stripe Keys
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=

# Auth
JWT_SECRET=
